In [15]:
import pandas as pd

In [16]:
df = pd.read_csv('modified_wineQT.csv')
df

,fixed acidity,volatile acidity,citric acid,garbage_column,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
0,7.4,0.700,0.00,-81,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,0
1,7.8,0.880,0.00,-15,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,1
2,7.8,0.760,0.04,-21,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,2
3,11.2,0.280,0.56,-25,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,3
4,7.4,0.700,0.00,-87,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1138,6.3,0.510,0.13,-30,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,1592
1139,6.8,0.620,0.08,-23,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5,6,1593
1140,6.2,0.600,0.08,-77,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,1594
1141,5.9,0.550,0.10,-80,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,1595
1142,5.9,0.645,0.12,-30,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,1597

In [17]:
df = df.drop(['Id', 'garbage_column'], axis=1)
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1138,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1139,6.8,0.620,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5,6
1140,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1141,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1142,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
X = df.drop(['quality'], axis=1)
y = df['quality']
display(X)
display(y)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
...,...,...,...,...,...,...,...,...,...,...,...
1138,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0
1139,6.8,0.620,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5
1140,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5
1141,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2
1142,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2

0       5
1       5
2       5
3       6
4       5
       ..
1138    6
1139    6
1140    5
1141    6
1142    5
Name: quality, Length: 1143, dtype: int64

In [20]:
display(X.shape)
display(y.shape)

(1143, 11)

(1143,)

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [22]:
display(X_train)
display(X_test)
display(y_train)
display(y_test)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
647,5.3,0.715,0.19,1.5,0.161,7.0,62.0,0.99395,3.62,0.61,11.0
1006,10.0,0.320,0.59,2.2,0.077,3.0,15.0,0.99940,3.20,0.78,9.6
74,8.1,0.575,0.22,2.1,0.077,12.0,65.0,0.99670,3.29,0.51,9.2
523,7.0,0.450,0.34,2.7,0.082,16.0,72.0,0.99800,3.55,0.60,9.5
350,7.8,0.520,0.25,1.9,0.081,14.0,38.0,0.99840,3.43,0.65,9.0
...,...,...,...,...,...,...,...,...,...,...,...
580,8.4,0.250,0.39,2.0,0.041,4.0,10.0,0.99386,3.27,0.71,12.5
150,8.2,0.570,0.26,2.2,0.060,28.0,65.0,0.99590,3.30,0.43,10.1
576,8.6,0.550,0.09,3.3,0.068,8.0,17.0,0.99735,3.23,0.44,10.0
267,11.4,0.625,0.66,6.2,0.088,6.0,24.0,0.99880,3.11,0.99,13.3
378,10.0,0.480,0.24,2.7,0.102,13.0,32.0,1.00000,3.28,0.56,10.0

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
1114,7.8,0.600,0.26,2.0,0.080,31.0,131.0,0.99622,3.21,0.52,9.900000
333,9.6,0.540,0.42,2.4,0.081,25.0,52.0,0.99700,3.20,0.71,11.400000
430,10.1,0.650,0.37,5.1,0.110,11.0,65.0,1.00260,3.32,0.64,10.400000
968,11.6,0.475,0.40,1.4,0.091,6.0,28.0,0.99704,3.07,0.65,10.033333
1083,6.5,0.530,0.06,2.0,0.063,29.0,44.0,0.99489,3.38,0.83,10.300000
...,...,...,...,...,...,...,...,...,...,...,...
890,8.6,0.635,0.68,1.8,0.403,19.0,56.0,0.99632,3.02,1.15,9.300000
524,7.7,0.560,0.20,2.0,0.075,9.0,39.0,0.99870,3.48,0.62,9.300000
1109,6.6,0.880,0.04,2.2,0.066,12.0,20.0,0.99636,3.53,0.56,9.900000
131,6.8,0.610,0.20,1.8,0.077,11.0,65.0,0.99710,3.54,0.58,9.300000
1126,7.5,0.520,0.40,2.2,0.060,12.0,20.0,0.99474,3.26,0.64,11.800000

647     5
1006    5
74      5
523     5
350     6
       ..
580     7
150     5
576     5
267     6
378     6
Name: quality, Length: 857, dtype: int64

1114    5
333     6
430     6
968     6
1083    6
       ..
890     5
524     5
1109    5
131     5
1126    6
Name: quality, Length: 286, dtype: int64

In [24]:
display(X.shape)
display(y.shape)
display(X_train.shape)
display(X_test.shape)
display(y_train.shape)
display(y_test.shape)

(1143, 11)

(1143,)

(857, 11)

(286, 11)

(857,)

(286,)

In [1]:
import sys

# Accessing command-line arguments
arg1 = sys.argv[1]  # First argument
arg2 = sys.argv[2]  # Second argument

print(f"Argument 1: {arg1}")
print(f"Argument 2: {arg2}")

IndexError: list index out of range